@font-face {
	font-family: "MyFont";
    src: url("../fonts/RINGM___.TTF");
}

body {
	background-image:url("../assets/images/backgrounds/game_menu.jpg");
	background-repeat: no-repeat;
}

.mission_circle {
	position:absolute;
	width:50px;
	height:50px;
	border-radius:50%;
	border:5px solid black;
	border-radius: 50%;
}

.mission_circle p {
	width:100%;
	height:100%;
	text-align: center;
	line-height:50px;
	font-family: "MyFont";
	font-size:40px;
}

#mission_0 {
	top:630px;
	left:1170px;
	background:#ffe066;
}

#mission_0:hover {
	border:5px solid #f8ffcb;
}

#mission_1 {
	background:#ffad33;
	top:430px;
	left:1290px;
}


#mission_1:hover {
	border:5px solid #f8ffcb;
}

#mission_2 {
	background:#ff751a;
	top:230px;
	left:1180px;
}

#mission_2:hover {
	border:5px solid #f8ffcb;
}

#mission_3 {
	background:#ff6600;
	left:1050px;
	top:430px;
}

#mission_3:hover {
	border:5px solid #f8ffcb;
}

#mission_4 {
	background:#ff3300;
	top:460px;
	left:820px;
}

#mission_4:hover {
	border:5px solid #f8ffcb;
}

.room {
	background-image:url("../assets/images/items/parchment.jpg");
	color:white;
}

#brouette {
	background-image: url("../assets/images/items/brouette.png");
	background-size: cover;
	width:150px;
	height:120px;
	top:700px;
	left:670px;
	position: absolute;
}

#brouette:hover {
	background-image: url("../assets/images/items/brouetteHighlight.png");
}

button {
	background-color: transparent;
	width:100%;
	height:100%;
}

#feedbackForUser {
	width:300px;
	height:2em;
	text-align: center;
	top:95vh;
	left:40vw;
	position:absolute;
}

#feedbackForUser p{
	font-size: 22px;
	color:gold;
	opacity: 1;
	font-family: "MyFont";
}

#loadingScreen {
	position:absolute;
	width:100%;
	height:100vh;
	background-color:black;
}

#loadingAnimation {
	width:250px;
	height:400px;
	padding-top: 10vh;
	margin:auto;
}