@font-face {
	font-family: "MyFont";
    src: url("../fonts/RINGM___.TTF");
}


* {
	margin:0;
	padding:0;
}

body {
	background-image:url('../assets/images/backgrounds/heroMenu.jpg');
	background-repeat: no-repeat;
	background-color: black;
}

p {
	font-family: 'MyFont';
	opacity: 1;
}

p.statName{
	color:white;
	display: inline-block;
	padding-top: 5px;
	width:80px;
	padding-left: 15%;
	font-size: 17px;
}

p.statValue {
	color:gold;
	display: inline-block;
	padding-left: 19%;
	font-size: 19px;
}

#hero {
	position: absolute;
	width:750px;
	height:851px;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transition: all 1s; 
}

/* Inscription pour des animations de respirations pour les divs des classes entity*/
#hero.animated {
	-webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
	-moz-animation: 1600ms pulsate infinite alternate ease-in-out;
	-ms-animation: 1600ms pulsate infinite alternate ease-in-out;
	-o-animation: 1600ms pulsate infinite alternate ease-in-out;
	animation: 1600ms pulsate infinite alternate ease-in-out;
}

#heroStatsContainer {
	position: absolute;
	width:100px;
	height:450px;
	top:140px;
	left:300px;
}

#heroStats {
	position: relative;
	width:300px;
	height:100%;
	border:5px solid #000;
	margin: auto;
	background-color: #271e1e;
	opacity:0.7;
	border-radius:20px;
}

#comeBack {
	position: absolute;
	background-image: url('../assets/images/icon/undo.png');
	background-repeat: no-repeat;
	background-size: contain;
	width:80px;
	height: 80px;
	margin:15px 0 0 15px;
}

#comeBack:hover {
	background-image: url('../assets/images/icon/undoHighlight.png');
}

#comeBackButton {
	background-color: transparent;
}

/*effet de respiration*/
@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.01); }
  100% { transform: scale(1); }
}
@-webkit-keyframes pulsate {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.01); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulsate {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.01); }
  100% { -moz-transform: scale(1); }  
}
@-ms-keyframes pulsate {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(1.01); }
  100% { -ms-transform: scale(1); }  
}
@-o-keyframes pulsate {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.01); }
  100% { -o-transform: scale(1); }  
}


#loadingScreen {
	position:absolute;
	width:100%;
	height:100vh;
	background-color:black;
}

#loadingAnimation {
	width:250px;
	height:400px;
	padding-top: 10vh;
	margin:auto;
}