@font-face {
	font-family: "MyFont";
    src: url("../fonts/RINGM___.TTF");
}

p {
	font-family: "MyFont";
	font-size:25px;
	text-align: center;
}

input {
	width:70%;
	height:35px;
	border-radius: 2px;
	margin:8px 15% 30px 15%;
	font-family: 'MyFont';
	font-size: 20px;
}

button {
	display:block;
	margin-left:48%;
    color: white;
    padding: 15px 32px;
	text-align: center;
	background-color: black;
	border-radius:3px;
	font-family: 'MyFont';
	font-size: 20px;
}

button:hover {
	background-color: #323232;
}

button:focus {
	backgroud-colo:#191919;
}

#login {
	position: absolute;
	right: 20%;
	top:10%;
    width: 300px;
    padding: 10px;
}

body {
	background-image:url("../assets/images/backgrounds/index.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#message_erreur {
	color:red;
	position: absolute;
	margin:30% 30% 0 30%;
}