@font-face {
	font-family: "MyFont";
    src: url("../fonts/RINGM___.TTF");
}

* {
	font-family: "MyFont";
	font-size:25px;
	color:gold;
}

.entity {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transition: all 1s; 
}

/* Inscription pour des animations de respirations pour les divs des classes entity*/
.entity.animated {
	-webkit-animation: 1600ms pulsate infinite alternate ease-in-out;
	-moz-animation: 1600ms pulsate infinite alternate ease-in-out;
	-ms-animation: 1600ms pulsate infinite alternate ease-in-out;
	-o-animation: 1600ms pulsate infinite alternate ease-in-out;
	animation: 1600ms pulsate infinite alternate ease-in-out;
}


/* Inscription pour des animations de respirations pour la div player_imagey*/
#player_image.attack_player {
	-webkit-animation: attack_player 1s; /* Safari 4.0 - 8.0 */
    animation: attack_player 1s ;
}

/* Inscription pour des animations de respirations pour la div other_player0_image*/
#other_player0_image.attack_other_player0 {
	-webkit-animation: attack_other_player0 1s; /* Safari 4.0 - 8.0 */
    animation: attack_other_player0 1s ;

}

/* Inscription pour des animations de respirations pour la div other_player1_image*/
#other_player1_image.attack_other_player1 {
	-webkit-animation: attack_other_player1 1s; /* Safari 4.0 - 8.0 */
    animation: attack_other_player1 1s ;

}

/* Inscription pour des animations de respirations pour la div other_player1_image*/
#other_player2_image.attack_other_player2 {
	-webkit-animation: attack_other_player2 1s; /* Safari 4.0 - 8.0 */
    animation: attack_other_player2 1s ;

}

/* Inscription pour des animations de respirations pour la div other_player1_image*/
#boss_image.attack_boss {
	-webkit-animation: attack_boss 1s; /* Safari 4.0 - 8.0 */
    animation: attack_boss 1s ;

}
#other_player0_name {
	text-align: center;
}

#other_player1_name {
	text-align: center;
}

#other_player2_name {
	text-align: center;
}

.contain_life_bar {
	margin:-100px 0px;
	text-align: center;
}

#other_player0_life_bar {
	height:10px;
	width:40%;
	border-radius: 10px;
}

#other_player1_life_bar {
	height:10px;
	width:40%;
	border-radius: 10px;
}

#other_player2_life_bar {
	height:10px;
	width:40%;
	border-radius: 10px;
}

#other_player0_life_bar::-webkit-progress-value {
  	background: #dc4343;
	border-radius: 10px;
}

#other_player0_life_bar::-webkit-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#other_player0_life_bar::-moz-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}


#other_player1_life_bar::-webkit-progress-value {
  	background: #dc4343;
	border-radius: 10px;
}

#other_player1_life_bar::-webkit-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#other_player1_life_bar::-moz-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#other_player2_life_bar::-webkit-progress-value {
  	background: #dc4343;
	border-radius: 10px;
}

#other_player2_life_bar::-webkit-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}


#other_player2_life_bar::-moz-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}


#life_mp {
	position:relative;
	left:180px;
	top:-180px;
	width:450px;
	height:200px;
}

#player_life_bar {
	height:30px;
	width:100%;
	border-radius: 10px;
	margin:35px 10px;
}

#player_mp_bar {
	height: 20px;
	width:80%;
	border-radius: 5px;
	margin:0 10px;
}

#player_life_bar::-webkit-progress-value {
  	background: #dc4343;
	border-radius: 10px;
}

#player_life_bar::-moz-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#player_life_bar::-webkit-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#player_mp_bar::-webkit-progress-value {
 	background: #4f4fe5;
	border-radius: 5px;
}

#player_mp_bar::-webkit-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#player_mp_bar::-moz-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
}

#portrait_boss {
	width:180px;
	height:180px;
	display: inline-block;
	margin:-110px 0 0 calc(100% - 180px);
}

#life_boss {
	position:relative;
	left:-200px;
}

#boss_life_bar {
	height:30px;
	width:100%;
	border-radius: 10px;
	margin:35px 10px;
}

#boss_life_bar::-webkit-progress-value {
  	background: #dc4343;
	border-radius: 10px;
}

#boss_life_bar::-webkit-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
	transform:rotate(180deg);
}

#boss_life_bar::-moz-progress-bar {
  	background: transparent;
  	border:3px solid #ffffff40;
	border-radius: 10px;
	transform:rotate(180deg);
}

/*effet d'attaque pour le joueur*/
@-webkit-keyframes attack_player {
   90% {transform: translate(100px,0px) scale(2)};
}

@keyframes attack_player {
	90% {transform: translate(100px,0px) scale(2)};
}

/*effet d'attaque pour le joueur en ligne 1*/
@-webkit-keyframes attack_other_player0 {
   90% {transform: translate(200px,0px) scale(2)};
}

@keyframes attack_other_player0 {
	90% {transform: translate(200px,0px) scale(2)};
}

/*effet d'attaque pour le joueur en ligne 2*/
@-webkit-keyframes attack_other_player1 {
   90% {transform: translate(350px,0px) scale(2)};
}

@keyframes attack_other_player1 {
	90% {transform: translate(350px,0px) scale(2)};
}

/*effet d'attaque pour le joueur en ligne 3*/
@-webkit-keyframes attack_other_player2 {
   90% {transform: translate(550px,0px) scale(2)};
}

@keyframes attack_other_player2 {
	90% {transform: translate(550px,0px) scale(2)};
}

/*effet d'attaque pour le boss*/
@-webkit-keyframes attack_boss {
   90% {transform: translate(-100px,0px) scale(1.5)};
}

@keyframes attack_boss {
	90% {transform: translate(-100px,0px) scale(1.5)};
}

/*effet de respiration*/
@keyframes pulsate {
  0% { transform: scale(1); }
  50% { transform: scale(1.02); }
  100% { transform: scale(1); }
}
@-webkit-keyframes pulsate {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(1.02); }
  100% { -webkit-transform: scale(1); }
}
@-moz-keyframes pulsate {
  0% { -moz-transform: scale(1); }
  50% { -moz-transform: scale(1.02); }
  100% { -moz-transform: scale(1); }  
}
@-ms-keyframes pulsate {
  0% { -ms-transform: scale(1); }
  50% { -ms-transform: scale(1.02); }
  100% { -ms-transform: scale(1); }  
}
@-o-keyframes pulsate {
  0% { -o-transform: scale(1); }
  50% { -o-transform: scale(1.02); }
  100% { -o-transform: scale(1); }  
}

#feedbackForUser {
	width:300px;
	height:2em;
	text-align: center;
	top:95vh;
	left:40vw;
	position:absolute;
}

#feedbackForUser p{
	font-size: 22px;
	color:gold;
	opacity: 1;
	font-family: "MyFont";
}

#comeBack {
	position: absolute;
	background-image: url('../assets/images/icon/undo.png');
	background-repeat: no-repeat;
	background-size: contain;
	width:80px;
	height: 80px;
	margin:15px 0 0 15px;
	z-index: 100;
}

#comeBack:hover {
	background-image: url('../assets/images/icon/undoHighlight.png');
}

#comeBackButton {
	background-color: transparent;
}

#fx {
	position:absolute;
	width:325px;
	height:550px;
	top:180px;
	left:1080px;
	background-size: contain;
}

#loadingScreen {
	position:absolute;
	width:100%;
	height:100vh;
	background-color:black;
}

#loadingAnimation {
	width:250px;
	height:400px;
	padding-top: 10vh;
	margin:auto;
}